#command_input{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    /* border-bottom: 1px solid white; */
}

#command_input:focus{
    outline: none;
    color: white;
    /* border-bottom: 1px solid white; */
}

#main-terminal-container{
    box-shadow: 10px 10px  black !important;
}

.text-1rem{
    font-size: 1rem;
}