.profilePhoto {
  display:flex;
  position: absolute !important;
  /* object-fit: cover; */
  width: 20rem;
  height: auto;
  top: 15rem;
  border-radius: 50%;
  box-shadow: 2px 10px 10px black;
  z-index: 2;
}

.containerCenter{
  display: flex;
  flex-flow: column;
  object-fit: scale-down;
}

.landingBackground {
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(196, 196, 196, 0) 100%
  );
  height: 100vh;
  width: 100vw;
  mix-blend-mode: overlay;
  z-index: 0;
  padding: 0;
  margin: 0;
}

.welcomeText {
  position: absolute;
  top: 65%;
  text-align: center;
  width: 100%;
}

.welcomeText::before {
  position: absolute;
  left: 26%;
  top: 50%;
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #e7e7de;
}

.welcomeText::after {
    position: absolute;
    left: 66%;
    top: 50%;
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: #e7e7de;
  }
  