body {
  overflow-x: hidden;
  overflow-y: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none !important; /* mozilla */
}

/* #root{
  height: 100vh;
  width: 100vw;
  margin: 0;
  
} */

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modeButtonContainer {
  position: relative;
  background-color: #e7e7de !important;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 80% !important;
  min-width: 150px !important;
}

.modeContainer {
  position: absolute;
  width: 12% !important;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  left: 85vw;
  top: 5%;
  z-index: 3;
}

.modeButtonLeft {
  position: relative;
  width: 50%;
  min-width: 75px;
  left: 0%;
}

.modeButtonRight {
  position: relative;
  width: 50%;
  min-width: 75px;
  left: 50%;
}

.modeButtonLeft:hover,
.modeButtonRight:hover {
  background-color: #008891 !important;
  /* background-color: rgba(255, 255, 255, 0.443)  !important; */
}

.modeButton:checked {
  background-color: #151515 !important;
}

.bg-black {
  background-color: #151515 !important;
}

.bg-blue-normal {
  background-color: #00587a !important;
}

.bg-blue-dark {
  background-color: #0f3057 !important;
}

.bg-blue-light {
  background-color: #008891 !important;
}

.modeContent {
  height: 100vh;
  flex-direction: column;
  /* overflow-y:scroll !important; */
  padding: 0px;
  margin: 0px;

  /* opacity: 0.5; */
}

.h-100vh {
  height: 100vh;
}

.containerCenter {
  display: flex;
  align-items: center;
}
